* {
    margin: 0;
    padding: 0;
    transition: 1s;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.white-btn, .dark-btn {
    height: 200px;
    width: 500px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.white-btn {
    background-color: #00b7ff;
}

.dark-btn {
    background-color: #424242;
}

.slider {
    height: 90%;
    width: 95%;
    display: flex;
    transition: transform 1s;
    z-index: 2;
}

.white-btn .slider {
    transform: translateX(0);
}

.dark-btn .slider {
    transform: translateX(300px);
}

.pointer-btn, .pointer-btn .sun-moon {
    border-radius: 50%;
}

.pointer-btn {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
}

.pointer-btn .sun-moon {
    background-color: yellow;
    height: 150px;
    width: 150px;
}

/* drawing background */
.background-light {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    border-radius: 120px;
    height: 100%;
}

.background-light .light-one {
    background-color: rgba(255, 255, 255, 0.171);
    height: 100%;
    width: 90%;
    border-radius: 120px;
}

.background-light .light-one .light-two {
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 120px;
    height: 100%;
    width: 80%;
}

.background-light .light-one .light-two .light-three {
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 120px;
    height: 100%;
    width: 70%;
}

/* drawing cloud */
.background-cloud {
    width: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 120px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.background-cloud .cloud-1,
.background-cloud .cloud-2,
.background-cloud .cloud-3,
.background-cloud .cloud-4,
.background-cloud .cloud-5,
.background-cloud .cloud-6,
.background-cloud .cloud-7 {
    background-color: white;
    border-radius: 50%;
    position: inherit;
}

.background-cloud .cloud-1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.background-cloud .cloud-2 {
    height: 100px;
    width: 100px;
    right: 100px;
}

.background-cloud .cloud-3 {
    height: 100px;
    width: 100px;
    right: 60px;
    bottom: -20px;
}

.background-cloud .cloud-4 {
    height: 70px;
    width: 70px;
    right: 150px;
    bottom: -20px;
}

.background-cloud .cloud-5 {
    height: 70px;
    width: 70px;
    right: 180px;
    bottom: -20px;
}

.background-cloud .cloud-6 {
    height: 40px;
    width: 40px;
    right: 230px;
    bottom: -20px;
}

.background-cloud .cloud-7 {
    height: 40px;
    width: 40px;
    right: -10px;
    bottom: 70px;
}

/* dark mode */
.dark-btn .slider .pointer-btn .sun-moon .moons {
    background-color: #fff;
    position: inherit;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

/* Adjust the background light positions for dark mode */
.dark-btn .background-light {
    display: flex;
    justify-content: flex-end;
}

.dark-btn .background-light .light-one {
    display: flex;
    justify-content: flex-end;
}

.dark-btn .background-light .light-one .light-two {
    display: flex;
    justify-content: flex-end;
}

.dark-btn .background-light .light-one .light-two .light-three {
    display: flex;
    justify-content: flex-end;
}

/* Adjust the cloud positions for dark mode */
.dark-btn .background-cloud {
    justify-content: flex-start;
}

.dark-btn .background-cloud .cloud-2 {
    left: 100px;
}

.dark-btn .background-cloud .cloud-3 {
    left: 60px;
    bottom: -20px;
}

.dark-btn .background-cloud .cloud-4 {
    left: 150px;
    bottom: -20px;
}

.dark-btn .background-cloud .cloud-5 {
    left: 180px;
    bottom: -20px;
}

.dark-btn .background-cloud .cloud-6 {
    left: 230px;
    bottom: -20px;
}

.dark-btn .background-cloud .cloud-7 {
    left: -10px;
    bottom: 70px;
}
